{% extends 'base.html' %}


{% block title %}
My Bookings
{% endblock title %}



{% block content %}


<section class="hotel-section">


<div class="hotel-container">


    <div class="section-heading">

        <small>
            Your Account
        </small>

        <h2>
            My Reservations
        </h2>

    </div>



    {% for booking in bookings %}


        <div
            class="room-card"
            style="
                margin-bottom: 25px;
                padding: 25px;
            "
        >


            <div class="row align-items-center">


                <div class="col-md-3">


                    {% if booking.room.image %}

                        <img
                            src="{{ booking.room.image.url }}"
                            alt=""
                            style="
                                width: 100%;
                                height: 150px;
                                object-fit: cover;
                            "
                        >

                    {% endif %}


                </div>



                <div class="col-md-6">


                    <h3>

                        {{ booking.room.get_room_type_display }}

                    </h3>


                    <p>

                        Room
                        {{ booking.room.room_number }}

                    </p>


                    <p>

                        {{ booking.check_in_date }}

                        →

                        {{ booking.check_out_date }}

                    </p>


                    <p>

                        {{ booking.num_guests }}

                        guest{{ booking.num_guests|pluralize }}

                    </p>


                </div>



                <div class="col-md-3">


                    <p>

                        Status:

                        <strong>

                            {{ booking.get_status_display }}

                        </strong>

                    </p>


                    <p class="room-price">

                        ₦{{ booking.total_amount }}

                    </p>


                </div>


            </div>


        </div>


    {% empty %}


        <div class="text-center">


            <h3>
                No reservations yet.
            </h3>


            <p>

                Find a room and plan your first stay.

            </p>


            <a
                href="{% url 'home' %}"
                class="hotel-btn"
            >
                Find a Room
            </a>


        </div>


    {% endfor %}


</div>


</section>


{% endblock content %}