{% extends 'base.html' %}


{% block title %}
Our Rooms
{% endblock title %}



{% block content %}


<section class="hotel-section">


<div class="hotel-container">


    <div class="section-heading">

        <small>
            Accommodation
        </small>

        <h2>
            Rooms & Suites
        </h2>

        <p>

            Explore our collection of rooms
            and choose the accommodation that
            suits your stay.

        </p>

    </div>



    <div class="room-grid">


        {% for room in rooms %}


            <article class="room-card">


                {% if room.image %}

                    <img
                        src="{{ room.image.url }}"
                        class="room-image"
                        alt="{{ room.get_room_type_display }}"
                    >

                {% else %}

                    <div class="room-image-placeholder">
                        No Image
                    </div>

                {% endif %}



                <div class="room-card-content">


                    <h3>

                        {{ room.get_room_type_display }}

                    </h3>


                    <p>

                        Up to
                        {{ room.capacity }}
                        guests

                    </p>


                    <p class="room-description">

                        {{ room.description|truncatewords:30 }}

                    </p>


                    <p class="room-price">

                        From

                        ₦{{ room.price_per_night }}

                        <span>
                            / night
                        </span>

                    </p>



                    <a
                        href="{% url 'room_detail' room.id %}"
                        class="hotel-btn"
                    >

                        View Room

                    </a>


                </div>


            </article>


        {% empty %}


            <p>
                No rooms are currently available.
            </p>


        {% endfor %}


    </div>


</div>


</section>


{% endblock content %}